{% extends 'index.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  
    <ul class='flashes'>
    {% for category, message in messages %}
  <div class="notification is-{{category}} is-light">
    <li >{{ message }}</li>
    </div>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}


    <h1 class="has-text-centered is-size-2">Thyme2Eat</h1>
    <div class="logo">
        <img class="is-centered" src="https://s3.envato.com/files/57aa7a1c-6747-42df-af7d-4c9205d013d5/inline_image_preview.jpg" alt="Thyme2Eat Logo" id="logo">
    </div>
{% endblock %}