{% extends 'index.html' %}

{% block title%}Thyme2Eat Login{% endblock %}

{% block content %}
<div class="columns is-centered"></div>
  <div class="columns is-centered is-vcentered" style="height: 70vh;">
    
    <div class="column is-one-third-desktop is-full-mobile is-two-thirds-tablet">
      
      
      <h1 class="is-size-3 has-text-centered">Welcome back!</h1>
      <form method="POST" class="box">
          {% for field in form
                  if field.widget.input_type != 'hidden' %}

                <div class="field">
                  {{ field.label(class_='label') }}
                  <div class="control">
                  {{ field(class='input') }}
                  </div>
                </div>
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              </p>

            {% endfor %}
          <button class="button is-primary" type="submit">Login</button>
        </form>
        <h1>New here? <a href="">Sign Up</a></h1>
     </div>
</div>  
  <div class="columns is-centered"></div>   




{% endblock %}