<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}{% endblock %}</title>
  <link rel="stylesheet" href="../static/css/foundation.css">
  <link rel="stylesheet" href="../static/css/app.css">
</head>
<body>
  
  <ul class="menu align-right" id="nav-bar">
    <li><a class="nav-link" href="{{ url_for('app_user.home') }}">Home</a></li>
    <li><a class="nav-link" href="{{ url_for('app_meal.get_random_meal') }}">Generate Random Meal</a></li>
    <li><a class="nav-link" href="{{ url_for('app_meal.get_random_meal') }}">Sign Up/Login</a></li>
  </ul>
  
{%block content%}{% endblock %}

<script src="../static/js/vendor/jquery.js"></script>
<script src="../static/js/vendor/what-input.js"></script>
<script src="../static/js/vendor/foundation.js"></script>
<script src="../static/js/app.js"></script>
</body>
</html>
