<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/css/app.css" />
  </head>
  <body>
    <nav class="navbar is-info" role="navigation" aria-label="main-navigation">
      <div class="navbar-brand">
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          </div>
      <div class="navbar-menu">
        <div class="navbar-end">
              
          
          <a class="navbar-item" href="{{ url_for('app_user.home') }}">Home</a>
          <a
            class="navbar-item"
            href="{{ url_for('app_meal.get_random_meal') }}"
            >Generate Random Meal</a
          >

          {% if not g.user%}
          <a class="navbar-item" href="{{ url_for('app_user.login_page') }}"
            >Sign Up/Login</a
          >
          {% else %}
          <a class="navbar-item" href="{{ url_for('app_user.show_favorites', user_id=g.user.id) }}">My Recipes</a>
          

          <a href="{{ url_for('app_user.logout_user') }}" class="navbar-item"
            >Logout</a
          >
          {% endif %}
        </div>
      </div>
    </nav>

    {%block content%}{% endblock %}

    <script src="../static/js/vendor/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
