#logo{
  width: 50%;
  height: auto;
  align-self: center;
  border-radius: 100%;
}

.logo{
  display: flex;
  justify-content: center;
}

body{
  height:100vh;
}

.hidden{
  visibility: hidden;
}

@media print 
{
   @page
   {
    size: A4;
    size: portrait;
  }
}