#logo{
  width: 87px;
  height: 53px;
  align-self: center;
  border-radius: 100%;
}


body{
  height:100vh;
}

.hidden{
  visibility: hidden;
}

@media print 
{
   @page
   {
    size: A4;
    size: portrait;
  }
}

.navbar{
  background-color:#84f19a;
}

.button{
  color: #000;
  background-color: #84f19a;
}

.button.is-hovered, .button:hover {
  border-color: #b5b5b5;
  color: #000;
  background-color: #53d56d;
}

#search-box{
  display: none;
  height: 2.25rem;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover{
  color: #108d29
}

.navbar-item{
  color: #000;
}

.box{
  box-shadow:0 .5em 1em -.125em rgba(10, 10, 10, 0.38),0 0 0 1px rgba(10,10,10,.038);
}

